html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden; 
}

body{
    /* HEADER */
    .header {
    /* background-color: #181818; */
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 20px;
    opacity: 1;
    height: 35px;
    }

    .site-title {
        font-size: 36px;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
        color: #000000;
    }

    .menu-btn{
        background: transparent;
        border: none;  
        outline: none;
    }

    /* .left {
        font-size: 24px;
        font-weight: 900;
    } */
    .menu-btn-right {
        opacity: 0;
        cursor: default;
    }


    .menu-icon {
        width: 50px;
        height: 50px;
        cursor: pointer;
        fill: #000000;
        stroke: #F0F3FF;
        stroke-width: .5;;

    }

    .container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    }
}

/* FULL BACKGROUND */
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: -1;          
  background-color: #f9f8fd; 
}

/* Content layer */
.content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 2rem;
}