html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden; 
}

body{
    .header {
    background-color: #181818;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 20px;
    opacity: 0.00;
    height: 35px;
}

    .container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}
}

/* FULL BACKGROUND */
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: -1;          
  background-color: #111111; 
}

/* Content layer */
.content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 2rem;
}