:root {
  --accent-color: #01BAEF; 
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0; 
}
#topology-bg {
  width: 100%;
  height: 100vh;
}

.overlay-text {
  position: absolute;
  top: 50%;      /* vertical center */
  left: 50%;     /* horizontal center */
  font-size: 20px;
  transform: translate(-50%, -50%); /* center properly */
  color: white;  /* make it visible on the background */
  text-align: center;
  z-index: 2;    /* above the Vanta canvas */
  pointer-events: none; /* optional: lets clicks pass through */
  font-family: 'Jetbrains Mono', 'Roboto', sans-serif;
}

.jetbrains-mono-title {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1a1a1d;

    /* HEADER */
    .header {
    background-color: #1C1C22;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 20px;
    opacity: 1;
    height: 35px;
    }

    .site-title {
        font-size: 36px;
        font-weight: 600;
        font-family: 'Jetbrains Mono', 'Roboto', sans-serif;
        color: #F0F3FF;
    }

    .navbar-text {
        font-size: 20px;
        margin-left: 20px;
        font-family: 'Jetbrains Mono', 'Roboto', sans-serif;
        color: #F0F3FF;
        text-decoration: none;
    }

    .navbar-text:hover {
    color: var(--accent-color);
    }

    .navbar-text-active {
    color: var(--accent-color);
    }

    .text-accent {
        color: var(--accent-color);
    }

    .navbar-border {
        border-bottom-width: 2px;
        border-bottom-style: solid;  /* adds a visible line */
        border-bottom-color: var(--accent-color); /* choose any color you want */
        padding-bottom: 6px;
    }

    .menu-btn{
        background: transparent;
        border: none;  
        outline: none;
    }
    .menu-btn-right {
        opacity: 0;
        cursor: default;
    }


    .menu-icon {
        width: 50px;
        height: 50px;
        cursor: pointer;
        fill: #F0F3FF;
        stroke: #F0F3FF;
        stroke-width: .5;;

    }
    
    /*Main Container*/
    .container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    }

    /* Footer */
    .footer {
        font-family: 'Jetbrains Mono', 'Roboto', sans-serif;
        color: #F0F3FF;
    }
}

/* FULL BACKGROUND */
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 2;          
  /* background-color: #f9f8fd; */
  pointer-events: none;
}

/* Content layer */
.content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 2rem;
}